body {
    background-color: #fbd139;
    font-family: 'Jost', sans-serif;
}

h1 {
    color: orangered;
    background-color: cornsilk;
}

#show_sketch {
    float: right;
    margin: 2.5px;

}

#show_sketch:hover {
    color: orangered;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: animation;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes animation {
    from{box-shadow: 1px 1px 38px gray;}
    to{box-shadow: 1px 1px 38px white;}
}

p {
    padding-top: 10px;
    font-size: 25px;
}